@import "tailwindcss";

.card {
  position: relative;
  transform-style: preserve-3d;
}

.card:hover::before {
  opacity: 1;
}

@layer project-card {
  .project-card:hover .project-link {
    text-decoration: underline;
  }

  .project-card .project-icon {
    margin-top: 1px;
    transition-duration: 100ms;
  }

  .project-card:hover .project-icon {
    transform: translate3d(3px, -3px, 0px);
    color:  oklch(0.623 0.214 259.815);
  }
}

@layer blog-card {
  .blog-card:hover .blog-link {
    text-decoration: underline;
  }

  .blog-card .blog-icon {
    transition-duration: 100ms;
  }

  .blog-card:hover .blog-icon {
    transform: translateX(5px);
    color:  oklch(0.627 0.265 303.9);
  }
}

@layer social-card {
  .social-card:hover .social-link {
    text-decoration: underline;
  }

  .social-card .social-icon {
    transition-duration: 100ms;
  }

  .social-card:hover .social-icon {
    transform: translate3d(3px, -3px, 0px);
    color:  oklch(0.558 0.288 302.321)
  }
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --animate-gradient: bg-gradient 45s ease infinite;
}